<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeTest">
  <test thread-count="5" name="MyStore">
    <classes>
      <class name="testNGPrograms.BeforeAfterTest"/>
      <class name="testNGPrograms.FirstTestNGProgram"/>
      <class name="testNGPrograms.TestNGAnnotations"/>
    </classes>
  </test> <!-- MyStore -->
</suite> <!-- SmokeTest -->
